<%= form_for(@event_job_job_association) do |f| %>
  <% if @event_job_job_association.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_job_job_association.errors.count, "error") %> prohibited this event_job_job_association from being saved:</h2>

      <ul>
      <% @event_job_job_association.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Event auswählen' %><br />
    <%= f.collection_select :event_id, Event.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label 'Vorgänger auswählen' %><br />
    <%= f.collection_select :predecessor_id, Job.all, :id, :name %>
  </div>
    <%= f.label 'Nachfolger auswählen' %><br />
    <%= f.label :successor_id %><br>
    <%= f.collection_select :successor_id, Job.all, :id, :name %>
  </div>
  <div class="actions">
    <%= f.submit 'Neue Vorgänger-Nachfolger-Beziehung anlegen' %>
  </div>
<% end %>
