<% provide(:title, "Vorgänger-Nachfolger-Beziehungen") %>

<h1>Übersicht der Vorgänger-Nachfolger-Beziehungen</h1>

<table id="eve_jojo_assoc" class="display">
  <thead>
    <tr>
      <th>Event</th>
      <th>Vorgänger</th>
      <th>Nachfolger</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @event_job_job_associations.each do |event_job_job_association| %>
      <tr>
        <td><%= event_job_job_association.event.name %></td>
        <td><%= event_job_job_association.predecessor.name %></td>
        <td><%= event_job_job_association.successor.name %></td>
        <td><%= link_to 'Anzeigen', event_job_job_association %></td>
        <td><%= link_to 'Ändern', edit_event_job_job_association_path(event_job_job_association) %></td>
        <td><%= link_to 'Entfernen', event_job_job_association, method: :delete, data: { confirm: 'Möchten Sie diesen Eintrag sicher entfernen?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neue Vorgänger-Nachfolger-Beziehung', new_event_job_job_association_path %>

<br>  <br><%= link_to 'Zurück zur Eventplanung', tcpsp_path %>