<%= form_for(@period) do |f| %>
  <% if @period.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@period.errors.count, "error") %> prohibited this period from being saved:</h2>

      <ul>
      <% @period.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label 'Perioden anlegen' %><br>
      <%= f.text_field :name, type: "number", min:0, required:"required" %>
    </div>
    <div class="field">
      <%= f.label 'Zusatzkapazität anlegen' %><br>
      <%= f.number_field :add_cappa, type: "number", min:1, required:"required" %>
    </div>
    <div class="actions">
      <%= f.submit 'Perioden anlegen oder aktualisieren' %>
    </div>
<% end %>
