<% provide(:title, "Perioden") %>

<p id="notice"><%= notice %></p>

<h1>Übersicht der Perioden</h1>

<table id="periods" class="display">
  <thead>
    <tr>
      <th>Periode</th>
      <th>Datum</th>
      <th>Benötigte Zusatzkapazität</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @periods.each do |period| %>
      <tr>
        <td><%= period.name %></td>
        <td><%= period.time %></td>
        <td><%= period.add_cappa %></td>
        <td><%= link_to 'Anzeigen', period %></td>
        <td><%= link_to 'Ändern', edit_period_path(period) %></td>
        <td><%= link_to 'Entfernen', period, method: :delete, data: { confirm: 'Möchten Sie diesen Eintrag sicher entfernen?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p>
  <b>Anzahl der Zusatzkapazitäten:</b>
  <%= @sum_add_cappa %> Hilfskräfte
</p>

<p>
  <b>Anzahl der Perioden:</b>
  <%= @number_of_periods %> Perioden
</p>


<%= form_tag change_periods_path %>
<div class="field">
  <%= label_tag :mynewnumber, "Tragen Sie hier bitte die gewünschte Anzahl von Perioden ein:" %>
  <%= text_field_tag :mynewnumber, @mynumber_of_periods  %>
</div>
<%= submit_tag "Anzahl der Perioden anpassen" %>



<%= link_to 'Neue Periode', new_period_path %>
<br>  <br><%= link_to 'Zurück zur Eventplanung', tcpsp_path %>


