<% provide(:title, "Perioden") %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Periode(n):</strong>
  <%= best_in_place @period, :name %>
</p>

<p>
  <strong>Datum:</strong>
  <%= best_in_place @period, :time %>
</p>

<%= link_to 'Ändern', edit_period_path(@period) %> |
<%= link_to 'Zurück', periods_path %>
