<% if object.errors.any? %>

    <div class="alert alert-danger fade in">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <strong>Fehler!</strong>
      Es
      <% if object.errors.count < 2 %>
          ist <%= pluralize(object.errors.count, "") %>
      <% elsif object.errors.count > 1 %>
          sind <%= pluralize(object.errors.count, "") %> <% end %>
      Fehler aufgetreten.

      <% object.errors.full_messages.each do |msg| %>
          <li> <%= msg %></li>
      <% end %>
    </div>

<% end %>
