<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>
      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Anlass" %><br>
    <%= f.collection_select(:id, Event.all,:id,:name) %>
  </div>
    <div class="field">
      <%= f.label :guest, "Anzahl der Gäste" %><br>
      <%= f.number_field :guest %>
    </div>
    <div class="field">
      <%= f.label :eventtext, "Hier ist Raum für Ihre Träume bezüglich Ihres Events:" %><br>
      <%= f.text_area :eventtext%>
    </div>
  <div class="field">
    <%= f.label "Datum" %><br>
    <%= f.number_field :deadline, type: "number", min:45, required: "required" %>
  </div>
    <div class="actions">
      <%= f.submit 'Event anlegen', {:class => "btn btn-primary"} %>
    </div>
<% end %>

