<% provide(:title, "Events") %>

<div class="alert alert-success fade in">
  <a href="#" class="close" data-dismiss="alert">&times;</a>
  <strong>Herzlichen Dank!</strong> Ihr Auftrag wurde erfolgreich erstellt. Sie haben eine Bestätigungsemail erhalten. In Kürze werden wir Sie kontaktieren.
</div>

<p>
  <strong>Anlass:</strong>
  <%= best_in_place @event, :name %>
</p>

<p>
  <strong>Anzahl der Gäste:</strong>
  <%= best_in_place @event, :guest %>
</p>

<p>
  <strong>Persönliche Wünsche:</strong>
  <%= best_in_place @event, :eventtext %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= best_in_place @event, :deadline %>
</p>

<%= link_to 'Ändern', edit_event_path(@event) %> |
<%= link_to 'Zurück', events_path %>
