<% provide(:title, "GAMS-Pfad") %>

<h1>GAMS-Pfad</h1>

<table id="gams_paths" class="display">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @gams_paths.each do |gams_path| %>
      <tr>
        <td><%= 'GAMS-Pfad' %></td>
        <td><%= gams_path.gams_path_url %></td>
        <td><%= link_to 'Ändern', edit_gams_path_path(gams_path) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<p>Zum Ändern des GAMS-Pfads klicken Sie bitte in der Tabelle rechts auf "Ändern".</p><br>
<%= link_to 'Zurück zur Eventplanung', tcpsp_path %>