// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p {
  font-family: "Century Gothic";
  font-size: 1.1em;
  line-height: 1.7em;
  color: #17375e;
}